@media screen and ( max-width: 1200px )
  .container
    max-width: 970px
    padding: 0 15px
  .header
    &-wrapper
      justify-content: space-between
    &__logo
      margin-right: 0
    &__nav
      margin-right: 0
    &__button
      width: unset
      padding: 10px 25px
  .articles
    &__hot
      margin-bottom: 15px
    &__grid
      grid-template-columns: repeat(3, 1fr )
      grid-template-rows: repeat(5,175px)
      width: 100%
    &__item
      &:nth-child(3)
        grid-column-start: 1
        grid-column-end: 2
        grid-row-start: 5
        grid-row-end: 6
      &:nth-child(4)
        grid-column-start: 2
        grid-column-end: 3
        grid-row-start: 5
        grid-row-end: 6
      &:nth-child(10)
        grid-column-start: 3
        grid-column-end: 4
        grid-row-start: 5
        grid-row-end: 6
  .dream
    max-width: 100%
  .popular
    max-width: 100%
  .tags
    overflow: auto
  .news
    &-item
      &__image
        height: 155px
      &__title
        font-size: 18px
        line-height: 23px
  .career
    &-card
      &:nth-child(n+3)
        padding: 20px 15px 25px
      &--big
        padding-right: 200px
      &__title
        &-small
          font-size: 14px
          line-height: 25px
  .main-news
    &__title
      font-size: 40px
      line-height: 50px
  .hero-article
    &__user
      right: 0
    &__lead
      max-width: 530px
    &__paragraph
      max-width: 520px
    &__theme
      right: 0
    &__subtitle
      max-width: 550px
      font-size: 24px
  .more-articles
    &__card
      max-width: 210px
    &__image
      height: 160px
    &__title
      font-size: 14px
@media screen and ( max-width: 992px )
  .header
    position: fixed
    width: 100%
    z-index: 1000
    &-wrapper
      justify-content: unset
    &__logo
      margin-right: auto
    &__nav
      display: none
    &__button
      margin-right: 50px
    &__mobile
      &-button
        display: flex
        position: relative
        z-index: 1000
        flex-direction: column
        justify-content: space-between
        background: none
        padding: 0
  .mobile
    &-button
      transition: 0.3s ease
      &--active
        position: fixed
        top: 37px
        right: 15px
        .mobile-button__item
          background-color: $dark
          &:not(:last-child)
            margin-bottom: 0
          &:nth-child(2)
            display: none
          &:nth-child(1)
            transform: rotate(45deg)
          &:nth-child(3)
            transform: rotate(-45deg) translate(1px, 0px)
      &__item
        width: 20px
        height: 1px
        background-color: $light-bg
        transition: 0.3s ease
        &--white
          background-color: $dark
        &:not(:last-child)
          margin-bottom: 5px
    &-menu
      &--active
        display: block
        background-color: $light-bg
        position: fixed
        z-index: 999
        top: 0
        right: 0
        width: 100%
        height: 100vh
        text-align: center
        overflow: auto
      &__list
        list-style: none
        margin: 0
        padding: 0
        display: flex
        flex-direction: column
        height: 100%
      &__item
        &:first-child
          margin-top: 40px
        &:not(:last-child)
          margin-bottom: 40px
      &__link
        color: $dark
      
  .heading
    padding: 105px 0
    &__area
      flex-direction: column
      height: unset
    &__tabs
      max-width: 100%
      max-height: 352px
      overflow: auto
    &__title
      margin-top: 30px
    &__content
      min-height: unset
      padding: 30px 50px
  .dream
    &__title
      font-size: 22px
      line-height: 28px
    &__image
      max-width: 250px
    &__username
      display: flex
      flex-wrap: wrap
    &__comment
      flex-basis: 100%
  .download
    &__info
      padding-top: 18px
      padding-bottom: 0
  .articles
    &__title
      font-size: 14px
      margin-bottom: 10px
      &--big
        padding-right: 40px
    &__text
      font-size: 12px
    &__item
      &:nth-child(n+6):nth-child(-n+9)
        padding: 20px 20px 25px
  .week
    &__title
      font-size: 36px
      line-height: 42px
  .news
    &-recent
      &__title
        padding: 15px 20px
        font-size: 12px
        line-height: 16px
      &__block
        padding: 0 20px
      &__image
        width: 50px
      &__text
        font-size: 12px
        line-height: 16px
      &__time
        font-size: 10px
    &__block
      padding: 0 20px
    &-item
      padding: 20px 0
      &__image
        width: 38%
      &__info
        width: 60%
      &__theme
        font-size: 10px
      &__title
        font-size: 14px
        line-height: 18px
      &__text
        font-size: 12px
        line-height: 16px
  .career
    &-wrapper
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: repeat(4, 170px)
    &-card
      &:nth-child(1)
        grid-column: 1 / 4
        grid-row: 1 / 3
      &:nth-child(2)
        grid-column: 1 / 3
        grid-row: 3 / 5
      &:nth-child(3)
        grid-column: 3 / 4
        grid-row: 3 / 4
      &:nth-child(4)
        grid-column: 3 / 4
        grid-row: 4 / 5
  .choice
    &-wrapper
      padding: 20px
    &__user
      margin-bottom: 10px
    &__slide
      max-width: 978px
      height: 370px
    &__title
      font-size: 36px
      line-height: 48px
    &__pagination
      margin-bottom: 20px
  .subscribe
    padding: 40px 0
    &__title
      font-size: 32px
      line-height: 40px
  .footer
    &-top
      flex-wrap: wrap
      padding-bottom: 24px
      &__list
        padding-top: 20px
        margin-bottom: 20px
        &:nth-child(n)
          width: 33.3%
      &__title
        margin-bottom: 15px
      &__item
        margin-bottom: 10px
    &-middle
      &__logo
        width: 35px
        height: 35px
      &__item
        font-size: 12px
        line-height: 16px
        margin-left: 20px
      &__social
        &-link
          &:not(:last-child)
            margin-right: 10px
        &-image
          width: 30px
          height: 30px
    &-bottom
      padding: 25px 0 35px
      font-size: 12px
      &__text
        max-width: 550px
  .main-news
    &__wrapper
      padding: 35px 70px
    &__title
      font-size: 38px
      line-height: 50px
    &__bookmark
      top: 116px

  .hero-article
    &__user
      top: 0
    &__lead
      max-width: 350px
      font-size: 16px
      line-height: 24px
    &__paragraph
      font-size: 16px
      line-height: 24px

    &__subtitle
      font-size: 18px
      line-height: 24px
    &__text
      padding: 0 70px
    &__theme
      position: static
      max-width: 550px
      width: 100%
      &-wrapper
        flex-direction: row
        align-items: center
      &-image
        margin: 0 20px 0 0
        width: 230px
        height: 140px
    &__tag
      padding-left: 70px
    &__repost
      margin-left: 70px
  .more-articles
    padding: 40px 0 60px
    &__card
      max-width: 168px
    &__image
      height: 120px
    &__title
      font-size: 12px
      line-height: 18px
  .comments
    padding-top: 60px
    &__wrapper
      margin-left: 0
@media screen and ( max-width: 930px )
  .hot
    justify-content: space-around
    flex-wrap: wrap
    row-gap: 25px
    &__link
      flex-basis: 50%
      &:nth-child(even)
        padding-right: 25px
      &:nth-child(odd)
        padding-left: 0
@media screen and ( max-width: 768px )
  .articles
    &__title
      font-size: 13px
      line-height: 18px
      &--big
        padding: 25px 20px
    &__image
      height: 260px
    &__text
      font-size: 11px
      line-height: 16px
    &__date
      bottom: 15px
      left: 15px
    &__grid
      grid-gap: 15px
      grid-template-columns: repeat(3, 1fr )
      grid-template-rows: repeat(6, 170px)
    &__item
      &:nth-child(n+6):nth-child(-n+9)
        padding: 15px
      &:nth-child(1)
        grid-column: 1 / 4
        grid-row-start: 1
        grid-row-end: 3
      &:nth-child(2)
        grid-column-start: 1
        grid-column-end: 2
        grid-row-start: 3
        grid-row-end: 5
      &:nth-child(3)
        grid-column-start: 2
        grid-column-end: 3
        grid-row-start: 6
        grid-row-end: 7
      &:nth-child(4)
        grid-column-start: 2
        grid-column-end: 4
        grid-row-start: 5
        grid-row-end: 6
      &:nth-child(5)
        grid-column-start: 1
        grid-column-end: 2
        grid-row-start: 5
        grid-row-end: 7
      &:nth-child(10)
        grid-column-start: 3
        grid-column-end: 4
        grid-row-start: 6
        grid-row-end: 7
  .popular
    padding: 19px 18px 20px
    &__subtitle
      font-size: 14px
      line-height: 20px
    &__avatar
      margin-right: 5px
    &__username
      font-size: 12px
      line-height: 16px
    &__data
      flex-wrap: wrap
    &__date
      flex-basis: 100%
      margin-bottom: 5px
  .tags
    &__title
      padding: 15px 20px
    &-wrapper
      padding: 15px 0 15px 20px
    &__item
      font-size: 12px
      line-height: 18px
  .download
    &__info
      padding-left: 20px
    &__title
      font-size: 14px
      line-height: 20px
    &__image
      top: 15px
      right: 10px
  .social
    &__title
      font-size: 16px
      margin-bottom: 18px
    &__link
      width: 35px
    &__icon
      width: 100%
  .week
    &__title
      font-size: 28px
      line-height: 36px
  .news
    padding: 40px 0
    &-wrapper
      flex-direction: column-reverse
    &-recent
      max-width: 768px
      width: 100%
      margin-bottom: 20px
      &__title
        font-size: 14px
        line-height: 20px
      &__item
        &:nth-child(n+4)
          display: none
      &__image
        width: 60px
      &__text
        font-size: 14px
        line-height: 20px
      &__time
        font-size: 12px
    &__block
      margin-right: 0
    &-item
      &__info
        width: 54%
      &__image
        width: 42%
        height: 160px
  .career
    padding: 30px 0
    &-wrapper
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(5, 170px)
    &-card
      &:nth-child(1)
        grid-column: 1 / 3
        grid-row: 1 / 3
      &:nth-child(2)
        grid-column: 1 / 3
        grid-row: 3 / 5
      &:nth-child(3)
        grid-column: 1 / 2
        grid-row: 5 / 6
      &:nth-child(4)
        grid-column: 2 /3
        grid-row: 5 / 6
      &--big
        padding-right: 250px
  .choice
    &__title
      font-size: 25px
      line-height: 32px
      margin-bottom: 60px
    &__pagination
      margin-bottom: 20px
  .subscribe
    &__title
      font-size: 25px
      line-height: 32px
    &_button
      padding: 8px 20px
      font-size: 12px
      line-height: 18px
  .footer
    &-middle
      flex-wrap: wrap
      &__social
        margin-top: 20px
    &-bottom
      flex-wrap: wrap
      &__text
        margin-bottom: 20px
  .main-news
    &__wrapper
      padding-top: 40px
      padding-left: 0
      padding-right: 0
    &__top
      flex-wrap: wrap-reverse
      margin-bottom: 30px
    &__buttons
      justify-content: space-between
      max-width: 576px
      width: 100%
      margin-bottom: 20px

    &__home
      margin-right: auto
    &__bookmark
      left: auto
      right: 0
      top: 80px
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 60px
      height: auto
  .hero-article
    padding-bottom: 40px
    &__avatar
      margin: 0 10px 0 0
      width: 70px
      height: 70px
    &__user
      top: -140px
      right: 0
      width: auto
      &-text
        align-items: flex-start
      &-info
        margin-bottom: 8px
        font-size: 12px
        line-height: 18px
      &-link
        font-size: 12px
        line-height: 18px
        padding: 10px 0
    &__username
      font-size: 16px
      line-height: 20px
    &__userbio
      flex-direction: row
      align-items: center
      padding: 20px
    &__lead
      max-width: 100%
      &::first-letter
        float: none
    &__text
      padding: 0
    &__slide
      &-info
        flex-direction: column-reverse
      &-image
        height: 390px
      &-text
        padding: 10px 15px
        font-size: 12px
        line-height: 18px
        width: 100%
      &-user
        padding: 5px 15px
        border-left: none
        border-bottom: 1px solid #d9dadb
      &-button
        width: 40px
        height: 40px
    &__tag
      padding-left: 0
    &__theme
      top: 86%
      left: 0
      width: 83vw
      &-title
        margin-bottom: 15px
      &-subtitle
        font-size: 14px
      &-text
        font-size: 12px
        line-height: 18px
    &__repost
      margin-left: 0
      width: 100%
      text-align: center
      &-wrapper
        justify-content: center
  .user
    &__name
      font-size: 12px
      line-height: 18px
  .more-articles
    &__wrapper
      flex-wrap: wrap
    &__card
      max-width: 768px
      flex-basis: 47%
      margin-bottom: 30px
    &__image
      height: 180px
    &__title
      font-size: 14px
      line-height: 25px
  .comments
    padding-top: 60px
    &__title, &__count
      font-size: 28px
      line-height: 40px
    &__item
      &--pl9
        padding-left: 60px
      &-avatar
        width: 45px
        height: 45px
      &-name
        font-size: 14px
        line-height: 22px
      &-text
        font-size: 14px
        line-height: 25px
    &__form
      &-avatar
        width: 45px
        height: 45px
@media screen and ( max-width: 576px )
  .header
    &__button
      font-size: 11px
      margin-right: 10px
  .heading
    &__title
      font-size: 10px
    &__description
      font-size: 22px
    &__button
      font-size: 12px
  .content
    &__author
      &-photo
        width: 35px
        height: 35px
      &-name
        font-size: 12px
      &-occupation
        font-size: 10px
  .hot
    padding: 20px 15px
    &__link
      &:nth-child(even)
        padding-left: 15px
        padding-right: 15px
      &:nth-child(odd)
        padding-left: 0
        padding-right: 15px
    &__text
      font-size: 12px
      line-height: 18px
    &__image
      width: 50px
      height: 50px
      margin-left: 10px
  .articles
    &__grid
      grid-template-columns: repeat(2, 1fr )
      grid-template-rows: repeat(7, 170px)
    &__item
      &:nth-child(1)
        grid-column: 1 / 3
        grid-row-start: 1
        grid-row-end: 3
      &:nth-child(2)
        grid-column-start: 1
        grid-column-end: 2
        grid-row-start: 3
        grid-row-end: 5
      &:nth-child(3)
        grid-column-start: 1
        grid-column-end: 2
        grid-row-start: 8
        grid-row-end: 9
      &:nth-child(4)
        grid-column-start: 2
        grid-column-end: 3
        grid-row-start: 6
        grid-row-end: 8
      &:nth-child(5)
        grid-column-start: 2
        grid-column-end: 3
        grid-row-start: 3
        grid-row-end: 5
      &:nth-child(10)
        grid-column-start: 2
        grid-column-end: 3
        grid-row-start: 8
        grid-row-end: 9
  .dream
    &__top
      padding-left: 20px
    &__bottom
      padding-left: 20px
    &__title
      font-size: 16px
      line-height: 24px
    &__description
      font-size: 12px
    &__image
      max-width: 190px
  .news
    &-item
      &__image
        width: 38%
        height: 150px
      &__info
        width: 58%
  .career
    &-card
      &--big
        padding-right: 180px
        &::before
          background-position: 30% center
        &::after
          width: 220px
          height: 220px
  .subscribe
    &__title
      font-size: 18px
      line-height: 25px
    &__form
      flex-direction: column
      justify-content: center
    &__input
      width: 300px
      margin: 0 0 15px
  .footer
    &-top
      &__list
        &:nth-child(n)
          width: 50%
    &-middle
      flex-direction: column
      align-items: center
      &__logo
        width: 50px
        height: 50px
        margin: 0 0 15px
      &__navbar
        flex-direction: column
        align-items: center
        margin-right: 0
      &__item
        margin: 0 0 10px
      &__social
        margin-top: 10px
  .main-news
    &__bookmark
      width: 17px
      height: 19px
    &__title
      font-size: 22px
      line-height: 32px
      margin-bottom: 55px
    &__text
      font-size: 16px
      line-height: 24px
  .hero-article
    padding-top: 125px
    &__user
      width: 70%
      right: 50%
      transform: translateX(50%)
    &__lead
      &::first-letter
        font-size: 60px
        line-height: 50px
        margin-left: -4px
        margin-right: 0
    &__slide
      &-image
        height: 330px
      &-button
        top: 35%
        &--prev
          left: 15px
        &--next
          right: 15px
    &__tag
      &-link
        margin-bottom: 10px
    &__theme
      &-image
        width: 200px
        height: 150px
  .more-articles
    &__image
      height: 140px
    &__title
      font-size: 14px
      line-height: 25px
  .comments
    padding-top: 60px
    &__title, &__count
      font-size: 20px
      line-height: 30px
    &__add
      font-size: 12px
      padding: 7px 16px
    &__form
      padding: 18px 25px
      &-title
        font-size: 18px
        text-align: center
        margin: 0 auto 15px
      &-button
        margin: 0 auto
@media screen and ( max-width: 480px )
  .news
    &-item
      flex-direction: column
      &__image
        width: 100%
        height: 230px
        margin-right: 0
        margin-bottom: 10px
      &__info
        width: 100%
      &__bookmark
        top: 260px
  .choice
    &__title
      font-size: 18px
      line-height: 24px
  .career
    &-wrapper
      grid-template-columns: 1fr
      grid-template-rows: repeat(6, 170px)
    &-card
      &--big
        padding: 25px 160px 25px 25px
      &:nth-child(1)
        grid-column: 1 / 2
        grid-row: 1 / 3
      &:nth-child(2)
        grid-column: 1 / 2
        grid-row: 3 / 5
      &:nth-child(3)
        grid-column: 1 / 2
        grid-row: 5 / 6
      &:nth-child(4)
        grid-column: 1 / 2
        grid-row: 6 / 7
  .main-news
    &__title
      font-size: 18px
      line-height: 24px
    &__text
      font-size: 14px
      line-height: 20px
  .hero-article
    padding-bottom: 0
    &__theme
      &-wrapper
        flex-direction: column
      &-image
        width: 80%
        height: 200px
        margin-right: 0
        margin-bottom: 10px
  
@media screen and ( max-width: 435px )
  .hot
    &__text
      font-size: 14px
    &__link
      flex-basis: 100%
      &:nth-child(even)
        padding-left: 0
  .dream
    &__image
      display: none
  .articles
    &__title
      font-size: 16px
      line-height: 25px
      &--big
        max-width: 80%
    &__text
      font-size: 14px
      line-height: 20px
      max-width: 80%
    &__grid
      grid-template-columns: 1fr
      grid-template-rows: repeat(13, 170px)
    &__item
      &:nth-child(1)
        grid-column: 1 / 2
        grid-row-start: 1
        grid-row-end: 3
      &:nth-child(2)
        grid-column-start: 1
        grid-column-end: 2
        grid-row-start: 3
        grid-row-end: 5
      &:nth-child(3)
        grid-column-start: 1
        grid-column-end: 2
        grid-row-start: 5
        grid-row-end: 6
      &:nth-child(4)
        grid-column-start: 1
        grid-column-end: 2
        grid-row-start: 8
        grid-row-end: 9
      &:nth-child(5)
        grid-column-start: 1
        grid-column-end: 2
        grid-row-start: 6
        grid-row-end: 8
      &:nth-child(10)
        grid-column-start: 1
        grid-column-end: 2
        grid-row-start: 13
        grid-row-end: 14
  .download
    &__title
      max-width: 70%
  .social
    &__title
      font-size: 20px
    &__link
      width: 50px
  .week
    &__title
      font-size: 20px
      line-height: 30px
  .subscribe
    &__title
      font-size: 14px
  .hero-article
    padding-top: 150px
    &__user
      top: -170px
      width: 85%
    &__slide
      &-image
        height: 220px
    &__repost
      &-title
        font-size: 18px
        line-height: 24px
      &-wrapper
        flex-direction: column
      &-link
        margin-bottom: 15px
        &:not(:last-child)
          margin-right: 0
  .more-articles
    padding-bottom: 40px
    &__wrapper
      justify-content: center
    &__card
      flex-basis: 85%
    &__image
      height: 200px
    &__title
      font-size: 14px
      line-height: 25px
  .comments
    padding-top: 60px
    &__top
      flex-wrap: wrap
    &__title
      margin-bottom: 10px
    &__item
      &--pl9
        padding-left: 30px
      &-avatar
        width: 30px
        height: 30px
        margin-right: 10px
      &-time
        font-size: 10px
      &-text
        font-size: 12px
        line-height: 18px
    &__form
      &-title
        font-size: 14px
      &-avatar
        width: 30px
        height: 30px
        margin-right: 12px
      &-input
        min-height: 100px
      &-textarea
        min-height: 100px
@media screen and ( max-width: 400px )
  .header
    &__button
      display: none
  .heading
    &__content
      padding: 15px
    &__title
      margin-top: 15px
      font-size: 8px
    &__description
      font-size: 14px
      margin: 0 0 20px
    &__button
      font-size: 10px
  .news
    &-item
      &__image
        height: 180px
      &__bookmark
        top: 210px
  .career
    &-card
      &--big
        padding-right: 80px
  .hero-article
    &__theme
      &-image
        width: 100%
@media screen and ( min-width: 992px )
  .header
    &__link
      position: relative
      transition: 0.3s ease
      &::after
        content: ''
        position: absolute
        bottom: -10px
        left: 0
        width: 100%
        height: 2px
        background-color: $light-text
        border-radius: 3px
        transition: 0.3s ease
        transform: scaleX(0)
      &:hover
        &::after
          transform: scaleX(100%)
      &--white
        &::after
          content: ''
          position: absolute
          bottom: -10px
          left: 0
          width: 100%
          height: 2px
          background-color: $dark
          border-radius: 3px
          transition: 0.3s ease
          transform: scaleX(0)
        &:hover
          &::after
            transform: scaleX(100%)
    &__button
      transition: 0.3s ease
      &:hover
        background-color: darken($dark-btn, 10%)
  .heading
    &__tabs
      &-item
        transition: 0.3s ease
        &:hover
          background-color: #f5f5f5
  .button
    outline: none
    transition: 0.3s ease
    &:hover
      background-color: darken($blue, 10%)
  .hot
    &__link
      &:hover
        &::before
          opacity: 0.5
  .articles
    &__item
      &--link
        &:hover
          &::before
            opacity: 0.5
  .download
    &__button
      &:hover
        &::before
          opacity: 0.8
  .tags
    &__item
      &:hover
        &::before
          opacity: 0.5
  .social
    &__link
      &:hover
        &::before
          opacity: 0.5
  .news
    &__link, &-recent__link
      &:hover
        text-decoration: underline
    &-recent
      &__read-more
        &:hover
          text-decoration: underline
  .career
    &-card
      &--link
        &:hover
          &::before
            opacity: 0.5
  .footer
    &-top
      &__link
        &:hover
          text-decoration: underline
    &-middle
      &__link
        &:hover
          text-decoration: underline
      &__social-link
        &:hover
          &::before
            opacity: 0.5
  .main-news
    &__home, &__button
      &:hover
        text-decoration: underline
  .hero-article
    &__theme
      &-link
        &:hover
          text-decoration: underline
    &__user
      &-link
        &:hover
          text-decoration: underline
    &__tag
      &-link
        &:hover
          &::before
            opacity: 0.5
    &__repost
      &-link
        transition: background-color 0.3s ease
        &:hover
          background-color: #3863db
          opacity: 0.9
  .comments
    &__add, &__load-more
      &:hover
        &::before
          opacity: 0.4
  .to-top
    &:hover
      &::before
        opacity: 0.2

@media screen and (max-width: 480px)
  .modal
    &__dialog
      width: 90%
@media screen and (max-height: 576px)
  .modal
    &__dialog
      max-height: 90vh