// font-family: 'Lato', sans-serif;
// font-family: 'Roboto Slab', serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-Heavy.woff') format('woff')
  font-weight: 900
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato Heavy Italic'
  src: url('../fonts/Lato-HeavyItalic.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap
*, *::before, *::after
  box-sizing: border-box
body
  margin: 0
  padding: 0
  background-color: $light-bg
  font-family: 'Lato', sans-serif
.container
  max-width: 1140px
  margin: auto
  position: relative
h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0
a
  text-decoration: none
  color: inherit
input, textarea, select
  background: none
  outline: none
  border: none
button
  border: none
  outline: none
  color: inherit
  cursor: pointer
.button
  background-color: $blue
  padding: 10px 20px
  border-radius: 20px
  display: inline-flex
  align-items: center
  font-weight: 900
.overflow
  overflow: hidden
.invalid
  color: red
  font-size: 12px
  line-height: 14px
label.invalid
  position: absolute
  bottom: 0
  left: 0
